.form-item {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.form-item label {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.form-item input,
.form-item select {
    margin-bottom: var(--space);
}

.form-item.form-item--has-error input,
.form-item.form-item--has-error select {
    border: solid 1px red;
    margin-bottom: 0 !important;
}

.form-item.form-item--has-error .form-item__error {
    font-size: 10px;
    color: red;
    margin-bottom: var(--space);
}

@media (max-width: 576px) {
    .form-item {
        max-width: 100%;
    }
}